* {
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100vw;
  background-color: #333333;

  @media (min-width: 768px) {
    // height: 100vh;
  }
}
