// Home
.text-decoration{
opacity: 0;
}
.marketplace-portfolio:hover .text-decoration{
  opacity: 1;
  top:10%;
 
}



/*  Hero Section */
.hero {
  text-align: center;
  margin-top: -60px;
  padding: $xl-6 0;
  
  height: 100vh ;
  overflow: hidden !important;
  background-image: url("../assets/images/LED-lights-delhi.jpg");
  @media screen and (max-width:640px) {
    padding-top: 30%;
    background-image: url("../assets/images/backgorund-image2.jpeg");
    background-size: 100% 100%;
    height: 70vh;
  }
  background-size: 100% 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100vh;
    
    // background-color:lightcoral;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow-x: hidden !important;
  }
  .hero-title {
    font-size: 7rem;
    @media screen and (max-width: 640px){
      font-size: 40px;
      line-height: 100%;
      
    } 

    line-height: 115px;
    font-weight: 600;
    margin: $xl-6 0;
    
  }
  .ios{
    font-size: 2rem;
    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }
  }
  .sub-heading {
    display: flex;
    justify-content: center;
    color: white;
    .titleSm {
      margin: 0 $xl-1;
    }
    span {
      font-size: $xll;
      line-height: 0;
      color: $green;
    }
  }
 
}

.cont{
  @media screen and (max-width:640px) {
    margin-top: 0%;

  }
  
}
// .expe{
//   width: 70%;
//   display: block;
// }
.icon{
  width: 30px;
  height:40px;
}
.small-card{
  display: flex;
  text-align: center;
  // border: 1px solid ;
  border-radius: 30px;
 
 padding-bottom: 10%;
  background-color:rgb(60, 32, 11);
  width: 50%;
}
.left{
  margin-left: 15%;
}
.right-term{
  margin-left: 40%;
}
.icon-description{
  margin-top: 5%;
}
.skills {
  display: block;
  text-align: center;
  background-color:rgb(60, 32, 11);
  width: 100%;
}
.hero-sec {
  background-color:rgb(60, 32, 11);   
}

// expertise
.expertise {
  background-color:black;
  padding-bottom: 150px;
  .card-img {
    height: 300px;
  }
  // margin-left: 7%;

}
.expe{
  margin-left: 9%;
}
.card{
  width: 70%;
  &:hover{
    transform: scale(1.1);
  }
}


// Choose

.choose{
  display: flex;
  justify-content: center;
 
  align-content: center;
  margin: 0 9rem;
  gap: 3rem;
  margin-bottom: 15%;
  
  .image{
    width: 500px;
    height: 300px;
  }
  .content {
    display: flex;
    margin-top: 20%;
    margin-left: -27%;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    h2 {
      font-size: 4rem;
    }
    p {
      color: #7b7e86;
      line-height: 2rem;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    flex-direction: column;
    margin: 2rem;
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50vw;
      }
    }
    .content {
      gap: 1rem;
      h2 {
        font-size: 1rem;
        @media screen and (max-width:640px) {
          font-size: 2rem;
        }
      }
      p {
        line-height: 1.3rem;
        font-size: 0.9rem;
      }
    }
  }
}
.projectsstyle{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-bottom: 3%;
  @media screen and (max-width:640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


// brand
.heading-title-brand{
  padding-bottom: 5%;
  text-align: center;
color: #171e20;
padding-top: 20%;

}

.brand-content{
  padding-top: 0%;
  text-align: center;
}
.brand-container{

  padding-bottom: 200px;
}




//banner
.banner {
  background-color:black;
  padding-top:5px;
  
  padding-bottom:150px;
  .container {
    margin-top: 10%;
    border-radius: 50px 0 50px 0;
    padding: $xll;
    background-color: black;
    width: 80%;
    
    @include flex(center, space-between, none);
  }
}
.client-image{
  // background-image: url("../assets/images/client-solution3.png");
  
  width: 500px;
  height: 500px;
  padding-left: 3%;
}
.client-logo{
  margin-top: 13%;
  margin-left: 10%;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  
}

//testimonial
.testimonial {
  .card {
    padding: 20px;
  }
  .cards {
    margin-top: $xll;
    p {
      margin-bottom: $xl-3;
      font-size: $xl;
      line-height: $xl-5;
    }
    .image {
      @include flex(center, none, none);
      margin-bottom: $xl-4;
      .img {
        width: $xll-3;
        height: $xll-3;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .img-text {
        margin-left: $xl-3;
        h3 {
          font-size: $xl-2;
          margin-bottom: $s;
        }
        span {
          color: rgba($white, 0.5);
          text-transform: uppercase;
          font-size: $sm;
          letter-spacing: 3px;
        }
      }
    }
  }
}

//showcase
.heading-title{
  margin-bottom: 1%;
  
}
.showcase {
  // background-color:lightcoral;
  margin-top: -60px;
  .card-img {
    height: 400px;

  }
  .links {
    @include flex(none, flex-end, none);
  }
}
.marketPlaceTypes {
  margin-right: 2%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  button:not(.blue) {
    color: black;
    border-color: #7b7e86;
  }
}
.marketPlaces {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  margin-bottom: 8%;
}

.marketplace {
   background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .image {
      margin-bottom: 1rem;
    }
    .name {
      
      text-align: center;
      color: #222222;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
     
    }
    .username {
      color: #555555;
      font-size: 0.8rem;
      padding: 0 1rem;
      margin-bottom: 0.5rem;
    }
    .price-container {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      color: #02204e;
    }
  
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
    //  margin: 2rem;
    .marketPlaceTypes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .marketPlaces {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

//brand
.brand-content {
  img {
    height: 10vh;
    width: 40%;
    transition: 0.5s ease-in-out;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

//blog-card
.blog-card {
  .card {
    @include flex(none, space-between, none);
    .card-img {
      width: 40%;
      height: 250px;
    }
    .card-details {
      width: 55%;
      padding: $xll 0;
    }
  }
}

// footer
footer {
  position: relative;
  padding: $xll-3 0 0 0;
  border-top: 1px solid rgba($white, 0.2);
  overflow: hidden;
  background-color: #443357;
  margin-top: -5%;
  .logobg {
    line-height: 0;
    padding-top: $xl-1;
    margin-bottom: $xll;
    @media screen and (max-width:640px) {
      margin-bottom: 0px;
      
    }
  }
  h3 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: $lg;
    margin-bottom: $xl-6;
    @media screen and (max-width:640px) {
      letter-spacing: 0px;
      margin-bottom: 0px;
      font-size: 0.7rem;
      
    }
  }
  span,
  p {
    color: rgba($white, 0.5);
    @media screen and (max-width:640px) {
      font-size: 0.7rem;
    }
  }
  ul li a {
    color: rgba($white, 0.5);
    transition: 0.5s ease-in-out;
    margin-bottom: $xl-2;
    display: block;
    &:hover {
      color: $green;
    }
  }
  .connect {
    // @include flex(center,space-between , none);
    display: flex;
    
    span {
      font-size: $sm;
      letter-spacing: 2px;
      @media screen and (max-width:640px) {
        font-size: 0.6rem;
        letter-spacing:0px;
      }
    }
    
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 60vh;
    background: #443357;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}

//Agency Page
.bg-top {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 60vh;
   background-color:lightcoral;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: rotate(180deg);
  }
}
.agency {
  .content {
    margin-top: $xll;
    h1 {
      font-size: $xl-6;
    }
    .box {
      h1 {
        font-size: 60px;
        font-weight: 400;
      }
    }
    .misson-p {
      border-left: 5px solid $indigo;
      padding-left: $xl-5;
    }
  }
}

.showcase {
  img {
    width: 300px;
    height: 280px;
  }
  .btn {
    @include flex(center, center, none);
  }
}

//contact
.contact {
  background-color:lightcoral;
  .left {
    padding-right: 60px;
    ul {
      @include flex(center, space-between, none);
      margin-top: $xll;
    }
    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid rgba($white, 0.2);
      border-radius: 10px 0 10px 0;
      @include flex(center, center, none);
    }
    .box {
      margin-bottom: $xll;
      .icons {
        color: $green;
      }
      h3 {
        padding: $xl-2 0;
      }
      span {
        opacity: 0.5;
      }
    }
  }
  .right {
    border-radius: 50px 0 50px 0;
    padding: $xll;
    background-color: #171e20;
    form {
      margin-top: $xll;
    }
    .inputs {
      margin-bottom: $xl-6;
      span {
        text-transform: uppercase;
      }
      textarea,
      input {
        width: 100%;
        background-color: $white;
        padding: 15px;
        margin-top: $sm;
        color: $dark;
      }
    }
    button {
      width: 100%;
      padding: 18px;
    }
  }
}

//single page
.post-details {
  .heading-title {
    .desc {
      text-align: left;
    }
  }
}

@media screen and (max-width: 800px) {
  .banner {
    .container {
      @include flex(center, none, column);
      button {
        margin-top: 50px;
      }
      h1 {
        font-size: 30px;
      }
    }
  }

  .blog-card {
    .card {
      @include flex(none, none, column);
      .card-img {
        width: 100%;
        height: 300px;
      }
      .card-details {
        width: 100%;
        padding: 0;
      }
    }
  }
  .w-30,
  .w-40,
  .w-50,
  .w-60,
  .w-70 {
    width: 100%;
    margin: 0;
  }
  .agency {
    .flex,
    .flex1 {
      flex-direction: column;
    }
    .grid-3 {
      @include grid(repeat(3, 1fr), 50px);
    }
  }
  .contact {
    .content {
      .left {
        text-align: center;
        margin-bottom: 50px;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          li {
            margin: 0 20px;
          }
        }
      }
      flex-direction: column;
    }
  }
}



// portfolio
.portfolio{
  // background-color: lightcoral;
}


// Development
.dev{
  background-color: #02204e;
}


// Development
.development{
  display: flex;
  width: 100%;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-bottom: 100px;
 
}
.development-title{
  text-align: center;
}
.cards {
  margin-bottom: 10%;
  display: flex;
  margin-top:50px;
  flex-direction: row;
  gap: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.cards .red {
  // background-color: #007e9e;
  background-color: white;
}

.cards .blue {
  background-color: #0062ff;
}

.cards .green {
  background-color: #18cd5e;
}

.cards .card {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
  color: black;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


// Hero


.marketPlaces-portfolio {
  display: grid;
  grid-template-columns: repeat(3,0.5fr);
 
  
  gap: 2rem;
  margin-bottom: 8%;
  padding-right: 3%;
}

.marketplace-portfolio {
   background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 10%;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease-in-out;
    width:90%;
    height:42vh;
    @media screen and (max-width:640px) {
      width: 94%;
      height: 47vh;
      margin-left: 3%;
    }
    &:hover {
      transform: scale(1.1);
     
      .image-portfolio{
        opacity: 0.2;
      }.name-portfolio{
        opacity: 0.2;
      }
        // opacity: 0.3;
        .text-decoration{
          opacity: 1;
          color: black;
          
        }
      
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .image-portfolio {
      // margin-bottom: 1rem;
      width: 100%;
      
    }
    .name-portfolio {
      
      text-align: center;
      color: #222222;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem 1rem;
      font-size: 20px;
     
    }
    .username-portfolio{
      color: #555555;
      font-size: 0.7rem;
      padding: 0 1rem;
      margin-bottom: 0.5rem;
    }
    .price-container {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      color: #02204e;
    }
}


#progress{
  background-image: url("../assets/images/bgm.jpg");
  background-size: 100% 100%;
  position: relative;
  height: 103vh;
}

.title-card{
  display: flex;
}

.marketplace-portfolio-gallery{
  background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   padding: 0.5rem;
   border-radius: 1rem;
   // width: 100%;
   margin: 5%;
   cursor: pointer;
   text-align: center;
   transition: 0.5s ease-in-out;
   
   height: 42vh;
   &:hover {
     transform: scale(1.1);
    
     
       // opacity: 0.3;
       .text-decoration{
         opacity: 1;
         color: black;
         
       }
     
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
       rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   .image-portfolio {
     margin-bottom: 1rem;
     width: 100%;
     
   }
   .name-portfolio {
     
     text-align: center;
     color: #222222;
     align-items: center;
     justify-content: space-between;
     padding: 0.3rem 1rem;
     font-size: 20px;
    
   }
   .username-portfolio{
     color: #555555;
     font-size: 0.7rem;
     padding: 0 1rem;
     margin-bottom: 0.5rem;
   }
   .price-container {
     padding: 0 1rem;
     display: flex;
     justify-content: space-between;
     color: #02204e;
   }
}

@media screen and (max-width: 640px){
  .marketPlaces-portfolio{
    display: block;
    margin-left: 4%;
  }
  .logobg{
    font-size: 20px;
  }
  .hero-title{
    font-size: 40px;
  }
  
  .decorative{
    font-size: 2rem;
  }
} 


.project-description{
  font-size:0.9rem;
  @media screen and (max-width: 640px){
    font-size: 0.6rem;
  }
}


.decorative{
  padding-top:10%;
  font-size:3rem;
  padding-bottom:5%

}

.footer-services{
  @media screen and (max-width:640px) {
    display: none;
  }
}


.contact-button{
  background-color:"black";
  border-radius:"10px";
  width:"20%";
  height:"5vh";
  @media screen and (max-width:640px) {
    background-color:"black";
    margin-left: 0%;
    width: 40%;
    height: 7vh;
  }
}

.client-name{
  color:black;
  font-size:2rem;
  margin-top:2rem;
  margin-bottom:2rem;
  @media screen and (max-width:640px) {
    font-size: 1.6rem;
  }
}
.our-projects{
 
  margin-top:-5%;
 font-size: 2rem;
  @media screen and (max-width:640px) {
    font-size: "1.2rem";
    margin-top: -14%;
    padding-top: 10%;
  }
}
.gallery-description{
  text-align:center;
  // color:black;
  font-size:30px;
   padding-top: 10%;
  margin-top:-5%;
  background-color:#0C0350;
  margin-bottom:5%;
  padding-bottom:3%;
  @media screen and (max-width:640px) {
    font-size: 0.9rem;
    margin-top:-14%;
    padding-top: 25%;
  }

}
.company{
  color:"black",;
  font-size:2rem;
  @media screen and (max-width:640px) {
    font-size:1.3rem ;

  }
}
.decorative{
  margin-bottom: 5%;
}
.our-expertise{
font-size: 1.2rem;
@media screen and (max-width:640px) {
  font-size: 0.8rem;
}
}
.our-expertise-title{
  font-size: 2rem;
  @media screen and (max-width:640px) {
    font-size: 1.6rem;
  }
}
.logo-main{
  margin-top: 8%;
    height: 1.6rem;
   border-radius:5px;
   width:2rem;
   @media screen and (max-width:640px) {
    height: 29px;
    margin-top: 4%;
  }
}
.terms{
  margin-left: 50%;
  @media screen and (max-width:640px) {
    margin-left: 50%;
    width: 90%;
    margin-top: 5%;
    
  }
}
.legal{
  @media screen and (max-width:640px) {
   width: 100%;
    
  }
}
.side-bar{
  color:black;
  width:100%;
  position:fixed;
  padding-left:2%;
  padding-top:20%;
  font-size:1.2rem;
  margin-top: -5%;
  background-color:rgb(12, 3, 80);
  display:inline-block;
  width:28%;
  height:120vh;
  @media screen and (max-width:640px) {
    display: none;
  }
}
.content-bar{
  // height:100vh;
  width: 65%;
  padding-top: 10%;
    margin-top: -5%;
  margin-left:30%;
  padding-bottom: 10%;
  @media screen and (max-width:640px) {
    margin-left:5%;
    padding-top: 16%;
    margin-top: -10%;
    width: 90%;
  }
}
.content-bar-images{
  display:flex;
  margin-top:1rem;
  @media screen and (max-width:640px) {
   display: grid;
   grid-template-columns: repeat(2,0.2fr);
  }
}
.content-bar-image{
  width:11rem;
  height:30vh;
  padding:1rem;
}