/* styles.css */

/* Hide the button on large screens */
.beaut{
  &:hover{
    color:blue
  }
}
button {
  width: 50%;
    height: 50px;
    display: none;
}

/* Show the button on medium to small screens */
@media screen and (max-width: 640px) {
  button {
    display: block;
    margin-left: 20%;
    
  }
}

header {
  // border-bottom: 1px solid rgba($white, 0.2);`
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
  background-color:transparent;
  .container {
    @include flex(center, space-between, none);
    nav {
      a {
        margin: 0 $xl-2;
      }
    }
  }
}
.activeLink {
  position: relative;
  color: white;
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $green;
  }
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
    
    nav {
      display: none;
    }
    .openMenu {
      position: absolute;
      top: 100%;
      left: 20%;
      width: 75%;
      height: 5 0vh;
      // padding: 20px;
      background: $dark;
      display: flex;
      flex-direction: column;
      // padding-right: 40%;
     
      z-index: 999;
      a {
        width: 100%;
        display: block;
        display: flex;
        margin-bottom: 30px !important;
        // padding-left: 40%;
      }
    }
    .button-primary {
      display: none;
    }
  }
  .activeLink {
    &::after {
      display: none;
    }
  }
  .header-responsive{
    width: 100%;
  }
}

